@font-face{font-family:arcadeclassic;font-style:normal;font-weight:400;src:local('ArcadeClassic'),url(https://fonts.cdnfonts.com/s/6071/ARCADECLASSIC.woff) format('woff')};
@font-face {
    font-family: 'ProggyCleanTTSZBP';
    font-style: normal;
    font-weight: 400;
    src: local('ProggyCleanTTSZBP'), url('https://fonts.cdnfonts.com/s/7514/ProggyCleanSZBP.woff') format('woff');
}
@font-face {
    font-family: 'ProggyCleanTTSZ';
    font-style: normal;
    font-weight: 400;
    src: local('ProggyCleanTTSZ'), url('https://fonts.cdnfonts.com/s/7514/ProggyCleanSZ.woff') format('woff');
}
@font-face {
    font-family: 'ProggyCleanTT';
    font-style: normal;
    font-weight: 400;
    src: local('ProggyCleanTT'), url('https://fonts.cdnfonts.com/s/7514/ProggyClean.woff') format('woff');
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: skyblue;
}

h1 {
    padding: 20px;
    text-align: center;
    color: darkblue;
    font-size: 90px;
    font-family: 'ArcadeClassic', sans-serif
}

h3 {
    font-family: 'ArcadeClassic', sans-serif;
    font-size: 40px;
    color: deeppink
}

h1 img {
    width: 100px;
    height: 101px;
    padding: 1px 60px;
}

p {
    font-family:'ProggyCleanTT', sans-serif;
    font-size: 20px;
}

hr {
    color: blue;;
}

#canvas {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-image: url('https://i.ibb.co/hVKPkkt/backgroundcanvas.png');
    margin: auto;
}

#start-screen{
    background-color: white;

}

.game {
    display: flex;
    flex-direction: row;
    align-content: space-between;
    columns: 2;
    padding: 1px 80px;
    margin: 30px;
}

#intro {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    text-align: center;
    padding: 40px 60px;
}

#intro img {
    width: 674px;
    height: 500px;
    padding: 0px 50px;
}

#intro p {
    text-align: center;
    font-size: 40px;
    margin: 20px 50px;
    font-weight: bolder;   
}

.instructions {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: center;
    background-color: aliceblue;
    padding: 40px 50px;
}

.instructions ul {
    list-style: none;
    padding-left: 11px;
    padding-right: 20px;
}

.instructions img {
    width: 50px;
    height: 60px;
    align-content: center;
}

#controls {
    text-align: justify;
    font-size: 20px;
    color: darkblue
}

#objects  {
    font-size: 18px;
    margin: 10px
}

#objects li {
    font-size: 18px;
}

.hidden {
    visibility: hidden;
}

